/* VARS 
-------------------------------------------------------------- */
$main_width:      1200px;

$bp_lg:           1800px;
$bp_med:          1600px;
$bp_sm:           400px;

/*  COLORS  */
$color_main:         #888;                 
$color_accent:       #69a9c4;              
$color_main_lt:      lighten($color_main, 10%);
$color_error:        #b54747;
$color_warning:      #f0da72;
$page_bg:            #f1f1f1;

/*  TYPOGROPHY */
$font_main:					'Raleway', sans-serif;
$font_header:				'Raleway', sans-serif;
$font_fancy:        'GaramondPremierProLightItalicDisplay', serif;

$font_weight_lt:         100;
$font_weight_reg:        400;
$font_weight_bold:       700;

/*  TRANSITIONS  */
$default-transition-property : all;
$default-transition-duration : .3s;
$default-transition-function : false;
$default-transition-delay    : false;

$border_solid_lt:       lighten($color_main_lt, 15%) solid 1px;
$border_solid_accent:   $color_accent solid 1px;
$border_dashed_lt:      lighten($color_main_lt, 15%) dashed 1px;
$border_dashed_accent:  $color_accent dashed 1px;

$default-box-shadow-color: #aaa;
$default-box-shadow-h-offset: 1px;
$default-box-shadow-v-offset: 1px;
$default-box-shadow-blur: 1.5px;

/* MIX-INS 
-------------------------------------------------------------- */
@mixin bp($point) {
  @if $point == l {
    @media (max-width: $bp_lg) { @content; }
  }
  @else if $point == m {
    @media (max-width: $bp_med) { @content; }
  }
  @else if $point == s {
    @media (max-width: $bp_sm)  { @content; }
  }
}



/* PLACEHOLDERS
-------------------------------------------------------------- */
%text_btn{
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: $font_header;
  font-weight: $font_weight_reg;
}

%a_color_main{
  color: $color_main;

  &:hover{
    color: $color_accent;
  }
}

%a_color_lt{
  color: $color_main_lt;

  &:hover{
    color: $color_accent;
  }
}

%a_color_wt{
  color: #fff;

  &:hover{
    color: $color_main;
  }
}

%bull{
  color: $color_accent;
  margin: 0 10px;
}

%shadow_inset{
  @include single-box-shadow(#ccc, 1px, 1px, 1px, 0, inset);
}


.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020"; 
        display: block; 
        height: 0; 
        overflow: hidden; 
    }
    &:after {
        clear: both;
    }
}



/* BASIC STYLES
-------------------------------------------------------------- */
*{
  @include box-sizing('border-box');
}

body{
  font-family: $font_main;
  background-color: $page_bg;  
  color: $color_main;
  font-size: 18px;
  font-weight: $font_weight_reg; 
}

a{
  @include transition;
  color: $color_accent;
  text-decoration: none;
  
  &:hover{
    color: $color_main;
  }
}

p{
  font-size: 18px;
  line-height: 22px;
}

ul,
ul.menu,
ul.menu li{
  list-style: none;
  text-align: inherit;
  margin: 0;
  padding: 0;
}

li a.active,
li.opened span.nolink{color: $color_main;}


.bull{
  @extend %bull;
}

.text-btn{
  @extend %text_btn;
}


/* TYPOGRAPHY STYLES
-------------------------------------------------------------- */
body{
}

h1, h2, h3, h4{
  font-weight: $font_weight_lt;
  font-family: $font_header;
}

h1{
  font-size: 60px;
  text-align: center;
  letter-spacing: 5px;
  margin: 50px 0;

  span{
    color: lighten($color_main, 20%);
  }
}

h2{
  font-size: 30px;
}

















