/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 22, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../sass/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, ../sass/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* These are common helper classes.
-------------------------------------------------------------- */
/* line 5, ../sass/_helpers.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/_helpers.scss */
.inline_block, .admin-btn {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 15, ../sass/_helpers.scss */
.clearfix, .admin-actions .body {
  zoom: 1;
}
/* line 17, ../sass/_helpers.scss */
.clearfix:before, .admin-actions .body:before, .clearfix:after, .admin-actions .body:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 23, ../sass/_helpers.scss */
.clearfix:after, .admin-actions .body:after {
  clear: both;
}

@font-face {
  font-family: 'GaramondPremierProLightDisplay';
  src: url("../fonts/garamondpremrpro-ltdisp.eot");
  src: url("../fonts/garamondpremrpro-ltdisp.eot") format("embedded-opentype"), url("../fonts/garamondpremrpro-ltdisp.woff") format("woff"), url("../fonts/garamondpremrpro-ltdisp.ttf") format("truetype"), url("../fonts/garamondpremrpro-ltdisp.svg#GaramondPremierProLightDisplay") format("svg");
}

@font-face {
  font-family: 'GaramondPremierProLightItalicDisplay';
  src: url("../fonts/garamondpremrpro-ltitdisp.eot");
  src: url("../fonts/garamondpremrpro-ltitdisp.eot") format("embedded-opentype"), url("../fonts/garamondpremrpro-ltitdisp.woff") format("woff"), url("../fonts/garamondpremrpro-ltitdisp.ttf") format("truetype"), url("../fonts/garamondpremrpro-ltitdisp.svg#GaramondPremierProLightItalicDisplay") format("svg");
}

/* VARS 
-------------------------------------------------------------- */
/*  COLORS  */
/*  TYPOGROPHY */
/*  TRANSITIONS  */
/* MIX-INS 
-------------------------------------------------------------- */
/* PLACEHOLDERS
-------------------------------------------------------------- */
/* line 60, ../sass/_base.scss */
.text-btn, #edit-cancel,
.button-no {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

/* line 92, ../sass/_base.scss */
.bull {
  color: #69a9c4;
  margin: 0 10px;
}

/* line 97, ../sass/_base.scss */
input[type='text'],
input[type='password'],
input[type="email"],
textarea {
  -webkit-box-shadow: inset 1px 1px 1px 0 #cccccc;
  -moz-box-shadow: inset 1px 1px 1px 0 #cccccc;
  box-shadow: inset 1px 1px 1px 0 #cccccc;
}

/* line 102, ../sass/_base.scss */
.clearfix, .admin-actions .body {
  zoom: 1;
}
/* line 104, ../sass/_base.scss */
.clearfix:before, .admin-actions .body:before, .clearfix:after, .admin-actions .body:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 110, ../sass/_base.scss */
.clearfix:after, .admin-actions .body:after {
  clear: both;
}

/* BASIC STYLES
-------------------------------------------------------------- */
/* line 119, ../sass/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 123, ../sass/_base.scss */
body {
  font-family: "Raleway", sans-serif;
  background-color: #f1f1f1;
  color: #888888;
  font-size: 18px;
  font-weight: 400;
}

/* line 131, ../sass/_base.scss */
a {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #69a9c4;
  text-decoration: none;
}
/* line 136, ../sass/_base.scss */
a:hover {
  color: #888888;
}

/* line 141, ../sass/_base.scss */
p {
  font-size: 18px;
  line-height: 22px;
}

/* line 148, ../sass/_base.scss */
ul,
ul.menu,
ul.menu li {
  list-style: none;
  text-align: inherit;
  margin: 0;
  padding: 0;
}

/* line 156, ../sass/_base.scss */
li a.active,
li.opened span.nolink {
  color: #888888;
}

/* TYPOGRAPHY STYLES
-------------------------------------------------------------- */
/* line 173, ../sass/_base.scss */
h1, h2, h3, h4 {
  font-weight: 100;
  font-family: "Raleway", sans-serif;
}

/* line 178, ../sass/_base.scss */
h1 {
  font-size: 60px;
  text-align: center;
  letter-spacing: 5px;
  margin: 50px 0;
}
/* line 184, ../sass/_base.scss */
h1 span {
  color: #bbbbbb;
}

/* line 189, ../sass/_base.scss */
h2 {
  font-size: 30px;
}

/* Layout
-------------------------------------------------------------- */
/* line 11, ../sass/style.scss */
#main #content {
  max-width: 1350px;
  margin: 0 auto;
}
@media (max-width: 1800px) {
  /* line 11, ../sass/style.scss */
  #main #content {
    max-width: 1200px;
  }
}
@media (max-width: 1600px) {
  /* line 11, ../sass/style.scss */
  #main #content {
    max-width: 900px;
  }
}

/* line 25, ../sass/style.scss */
.not-logged-in #admin {
  display: none;
}
/* line 29, ../sass/style.scss */
.not-logged-in #main {
  margin: auto;
}
/* line 32, ../sass/style.scss */
.not-logged-in #main #content {
  max-width: 700px;
}

/* User
-------------------------------------------------------------- */
/* line 43, ../sass/style.scss */
.not-logged-in.page-user,
.page-node-delete,
.page-admin-structure-menu-item-delete {
  text-align: center;
}
/* line 46, ../sass/style.scss */
.not-logged-in.page-user h1,
.page-node-delete h1,
.page-admin-structure-menu-item-delete h1 {
  margin: 100px 0;
}
/* line 50, ../sass/style.scss */
.not-logged-in.page-user label,
.page-node-delete label,
.page-admin-structure-menu-item-delete label {
  display: none;
}
/* line 56, ../sass/style.scss */
.not-logged-in.page-user input[type='text'],
.not-logged-in.page-user input[type='password'],
.not-logged-in.page-user input[type="email"],
.page-node-delete input[type='text'],
.page-node-delete input[type='password'],
.page-node-delete input[type="email"],
.page-admin-structure-menu-item-delete input[type='text'],
.page-admin-structure-menu-item-delete input[type='password'],
.page-admin-structure-menu-item-delete input[type="email"] {
  text-align: center;
}
/* line 60, ../sass/style.scss */
.not-logged-in.page-user input[type="submit"],
.page-node-delete input[type="submit"],
.page-admin-structure-menu-item-delete input[type="submit"] {
  margin-top: 30px;
}
/* line 64, ../sass/style.scss */
.not-logged-in.page-user .text-btn,
.page-node-delete .text-btn,
.page-admin-structure-menu-item-delete .text-btn {
  margin-top: 40px;
  display: block;
  text-transform: none;
}
/* line 70, ../sass/style.scss */
.not-logged-in.page-user .form-item + .form-item,
.page-node-delete .form-item + .form-item,
.page-admin-structure-menu-item-delete .form-item + .form-item {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}

/* FORMS 
--------------------------------------------------------------
-------------------------------------------------------------- */
/* line 91, ../sass/style.scss */
input[type='text'],
input[type='password'],
input[type="email"],
textarea {
  font-family: "Raleway", sans-serif;
  border: none;
  padding: 20px;
  font-size: 18px;
  color: #888888;
  letter-spacing: 2px;
  width: 100%;
}

/* line 102, ../sass/style.scss */
label {
  font-size: 20px;
  margin-bottom: 3px;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  letter-spacing: 0px;
  font-weight: 400 !important;
}

/* line 112, ../sass/style.scss */
input[type="submit"],
.button-yes {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 1px 1px 1.5px #aaaaaa;
  -moz-box-shadow: 1px 1px 1.5px #aaaaaa;
  box-shadow: 1px 1px 1.5px #aaaaaa;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  background-color: #69a9c4;
  font-family: "Raleway", sans-serif;
  color: #fff;
  padding: 20px 40px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 200;
  border: none;
  margin: 0 10px;
}
/* line 130, ../sass/style.scss */
input[type="submit"]:hover,
.button-yes:hover {
  background-color: #d7d7d7;
}

/* line 135, ../sass/style.scss */
fieldset {
  background-color: #e4e4e4;
  padding: 20px;
  margin-bottom: 40px;
}
/* line 140, ../sass/style.scss */
fieldset .form-wrapper + .form-wrapper {
  border-top: #c8c8c8 dashed 1px;
  padding-top: 20px;
  margin-top: 20px;
}

/* line 147, ../sass/style.scss */
.fieldset-legend {
  background-color: #f1f1f1;
  padding: 10px 20px;
  display: block;
  position: relative;
  font-size: 28px;
  font-weight: 100;
}

/* line 157, ../sass/style.scss */
#edit-delete {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  color: #b54747;
  font-size: 12px;
  font-weight: 700;
}

/* line 166, ../sass/style.scss */
.form-item, .form-actions {
  margin-top: 0;
  margin-bottom: 0d;
}
/* line 170, ../sass/style.scss */
.form-item .description, .form-actions .description {
  margin-top: 10px;
  font-size: 12px;
}
/* line 175, ../sass/style.scss */
.form-item input.form-checkbox, .form-item input.form-radio, .form-actions input.form-checkbox, .form-actions input.form-radio {
  position: relative;
  top: -5px;
}

/*.form-item + .form-item{
	margin-top: 40px;
	padding-top: 40px;
	border-top: $border_dashed_lt;
}
*/
/* line 188, ../sass/style.scss */
.filter-wrapper {
  display: none;
}

/* line 193, ../sass/style.scss */
#edit-cancel,
.button-no {
  display: block;
  margin-top: 20px;
  color: #b54747;
  font-size: 12px;
  font-weight: 700;
}

/* line 202, ../sass/style.scss */
.form-required {
  font-size: 30px;
  color: #b54747;
}

/* line 207, ../sass/style.scss */
.actions {
  border-top: #c8c8c8 dashed 1px;
}

/* line 213, ../sass/style.scss */
#edit-actions,
.form-actions {
  padding-top: 40px;
  margin-bottom: 100px;
  text-align: center;
}

/* line 219, ../sass/style.scss */
.tabledrag-changed.warning {
  color: #b54747;
}

/* line 226, ../sass/style.scss */
.view-filters .views-submit-button {
  display: none;
}
/* line 230, ../sass/style.scss */
.view-filters .form-item {
  padding-bottom: 10px;
}

/* line 235, ../sass/style.scss */
.form-holder {
  max-width: 700px;
  margin: auto;
}

/* line 240, ../sass/style.scss */
.password-suggestions.description {
  display: none !important;
}

/* line 245, ../sass/style.scss */
.form-item {
  padding-bottom: 40px;
  margin-bottom: 0;
}

/* line 250, ../sass/style.scss */
.form-group {
  margin-bottom: 40px;
  background-color: #ececec;
  border: #c8c8c8 solid 1px;
}
/* line 255, ../sass/style.scss */
.form-group h2 {
  margin-bottom: 40px;
  background-color: #d7d7d7;
  padding: 20px;
  color: #fff;
}
/* line 262, ../sass/style.scss */
.form-group .form-item {
  padding: 0 20px 40px;
}

/* line 267, ../sass/style.scss */
.ui-widget select {
  font-size: 10px !important;
}

/* line 271, ../sass/style.scss */
.form-type-plupload {
  padding: 20px;
}

/* line 275, ../sass/style.scss */
.ui-tabs .ui-tabs-panel {
  padding: 0;
}
/* line 278, ../sass/style.scss */
.ui-tabs .ui-tabs-panel .view-filters {
  float: none;
  border: none;
  padding: 20px;
}
/* line 283, ../sass/style.scss */
.ui-tabs .ui-tabs-panel .view-filters .form-item {
  padding-bottom: 0;
}

/* line 288, ../sass/style.scss */
.plupload_filelist_footer {
  height: 30px;
}

/* line 292, ../sass/style.scss */
.ui-widget-content {
  font-family: "Raleway", sans-serif;
  background: #f1f1f1;
}
/* line 296, ../sass/style.scss */
.ui-widget-content #branding {
  *zoom: 1;
  background-color: #d7d7d7;
  padding: 0 !important;
  position: relative;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.ui-widget-content #branding:after {
  content: "";
  display: table;
  clear: both;
}
/* line 303, ../sass/style.scss */
.ui-widget-content h1 {
  font-size: 40px;
  color: #fff;
  height: auto !important;
  padding: 20px;
  margin: 0;
}

/* line 314, ../sass/style.scss */
#file-entity-add-upload-multiple .description {
  display: none;
}

/* line 319, ../sass/style.scss */
#media-browser-tabset ul.tabs {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 325, ../sass/style.scss */
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
  background-color: #f1f1f1;
}

/* line 329, ../sass/style.scss */
body.page-media-browser {
  background-color: #f1f1f1;
}

/* line 333, ../sass/style.scss */
.ui-tabs .ui-tabs-nav li {
  background: none !important;
  border: none !important;
  border-color: none !important;
  border-style: none !important;
  background-image: none !important;
  font-weight: normal !important;
  background-image: none !important;
  margin: 0;
}
/* line 344, ../sass/style.scss */
.ui-tabs .ui-tabs-nav li a {
  border: none !important;
  border-color: none !important;
  border-style: none !important;
  background-image: none !important;
  font-weight: normal !important;
  background-image: none !important;
  background-color: transparent;
}

/* line 355, ../sass/style.scss */
.ui-dialog {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 10px 0;
  -moz-box-shadow: 0 0 10px 0;
  box-shadow: 0 0 10px 0;
  padding: 0;
}

/* line 362, ../sass/style.scss */
.ui-widget-content {
  background-color: #f1f1f1;
}

/* line 366, ../sass/style.scss */
#media-browser-library-list {
  padding: 20px;
  border-top: #c8c8c8 dashed 1px;
}

/* Tables
-------------------------------------------------------------- */
/* line 374, ../sass/style.scss */
table {
  width: 100%;
}
/* line 377, ../sass/style.scss */
table .menu-enabled input {
  margin: 0;
}
/* line 381, ../sass/style.scss */
table input.form-checkbox, table input.form-radio {
  position: relative;
  top: auto !important;
}

/* line 387, ../sass/style.scss */
tr.odd {
  background-color: #eeeeee;
}

/* line 391, ../sass/style.scss */
tr.even {
  background-color: #e7e7e7;
}

/* line 395, ../sass/style.scss */
td {
  padding: 10px;
  vertical-align: middle;
}
/* line 399, ../sass/style.scss */
td .form-type-checkbox {
  padding: 0 10px;
}

/* line 404, ../sass/style.scss */
thead {
  background-color: #cbcbcb;
  color: #f1f1f1;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 410, ../sass/style.scss */
thead th {
  padding: 10px;
  font-size: 12px;
}
/* line 414, ../sass/style.scss */
thead th .form-type-checkbox {
  padding-left: 10px;
}

/* line 420, ../sass/style.scss */
.draggable a.tabledrag-handle {
  margin: 0;
  height: auto;
}

/* line 424, ../sass/style.scss */
a.tabledrag-handle .handle {
  width: 25px;
  height: 15px;
  margin: 3px 25px 0;
  padding: 0;
  background-position: 6px 0;
}

/* line 432, ../sass/style.scss */
div.indentation {
  width: 30px;
}

/* line 436, ../sass/style.scss */
.tabledrag-toggle-weight-wrapper {
  display: none;
}

/* line 440, ../sass/style.scss */
.view-content {
  clear: both;
}

/* Admin Actions
-------------------------------------------------------------- */
/* line 447, ../sass/style.scss */
.admin-actions {
  margin-right: 10px;
}
/* line 450, ../sass/style.scss */
.admin-actions h1 {
  font-weight: 100;
}
/* line 453, ../sass/style.scss */
.admin-actions h1 span {
  color: #69a9c4;
}
/* line 458, ../sass/style.scss */
.admin-actions .body {
  background-color: #e1e1e1;
  padding: 20px 10px;
  margin: 10px 0;
}

/* line 466, ../sass/style.scss */
.admin-btn {
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  float: left;
  border-right: #ccc solid 1px;
}
/* line 480, ../sass/style.scss */
.admin-btn.add {
  /*color: #57853b;*/
}
/* line 484, ../sass/style.scss */
.admin-btn.delete {
  color: #b54747;
}
/* line 487, ../sass/style.scss */
.admin-btn.delete:hover {
  color: #d38f8f;
}
/* line 492, ../sass/style.scss */
.admin-btn.right {
  float: right;
  border: none;
}

/* line 498, ../sass/style.scss */
#admin {
  position: fixed;
  width: 20%;
  height: 100%;
  background-color: #3c3c3c;
  top: 0;
  left: 0;
}
/* line 506, ../sass/style.scss */
#admin h2 {
  padding: 20px;
}
/* line 510, ../sass/style.scss */
#admin a {
  color: #f1f1f1;
  letter-spacing: 1px;
  font-weight: 100;
  text-transform: lowercase;
  display: block;
  padding: 10px 20px;
}
/* line 518, ../sass/style.scss */
#admin a:hover {
  background-color: #2f2f2f;
}
/* line 524, ../sass/style.scss */
#admin ul.menu li {
  border-bottom: #484848 solid 1px;
}

/* line 530, ../sass/style.scss */
#main {
  position: relative;
  width: 80%;
  margin-left: 20%;
  padding: 0 40px;
}

/* line 537, ../sass/style.scss */
html, body, #wrap {
  height: 100%;
}

/* line 541, ../sass/style.scss */
#wrap {
  min-width: 1300px;
}

/* Media Gallery
-------------------------------------------------------------- */
/* line 548, ../sass/style.scss */
.mg-col {
  margin: 0;
}

/* line 552, ../sass/style.scss */
.media-gallery-media .media-gallery-item-wrapper {
  /*padding: 5px;*/
  margin: 0 10px 10px 0;
}

/* line 557, ../sass/style.scss */
.media-gallery-media .media-gallery-item {
  -webkit-box-shadow: 1px 1px 1.5px #aaaaaa;
  -moz-box-shadow: 1px 1px 1.5px #aaaaaa;
  box-shadow: 1px 1px 1.5px #aaaaaa;
  padding: 0;
  border: none;
}
/* line 562, ../sass/style.scss */
.media-gallery-media .media-gallery-item a {
  cursor: move;
}

/* line 567, ../sass/style.scss */
.mg-col-4 > .field-items > .field-item, .mg-col-4 .mg-gallery {
  position: relative;
  width: 150px !important;
  height: 150px;
}

/* line 573, ../sass/style.scss */
.draggable-wrapper {
  background-color: #69a9c4;
}

/* line 578, ../sass/style.scss */
#edit-settings-wrapper,
#edit-media-gallery-description {
  display: none;
}

/* line 584, ../sass/style.scss */
div.vertical-tabs {
  background-color: #d7d7d7;
}
/* line 587, ../sass/style.scss */
div.vertical-tabs .vertical-tabs-panes {
  padding-top: 10px;
}

/* line 592, ../sass/style.scss */
.vertical-tabs ul.vertical-tabs-list li.selected {
  background-color: #d7d7d7;
}
/* line 595, ../sass/style.scss */
.vertical-tabs ul.vertical-tabs-list li.selected:hover {
  outline: none;
}

/* line 604, ../sass/style.scss */
.image-preview {
  /*background-color: darken($page_bg, 10%);*/
  float: left;
  margin-right: 2%;
  width: 20%;
  /*padding: 20px;*/
}
/* line 611, ../sass/style.scss */
.image-preview img {
  -webkit-box-shadow: 1px 1px 1.5px #aaaaaa;
  -moz-box-shadow: 1px 1px 1.5px #aaaaaa;
  box-shadow: 1px 1px 1.5px #aaaaaa;
  width: 100%;
  height: auto;
}

/* line 618, ../sass/style.scss */
.image-details {
  float: left;
  width: 78%;
}

/* line 625, ../sass/style.scss */
#multiform h2 {
  margin-bottom: 20px;
  font-size: 18px;
  display: none;
}
/* line 631, ../sass/style.scss */
#multiform .form-holder {
  margin-bottom: 40px;
  padding-bottom: 20px;
  *zoom: 1;
  border-bottom: #c8c8c8 dashed 1px;
}
/* line 38, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#multiform .form-holder:after {
  content: "";
  display: table;
  clear: both;
}
/* line 638, ../sass/style.scss */
#multiform .form-group {
  padding-top: 20px;
}
/* line 642, ../sass/style.scss */
#multiform .actions {
  display: none;
}
/* line 647, ../sass/style.scss */
#multiform .form-submit,
#multiform a {
  display: block;
  width: 200px;
  margin: auto;
  text-align: center;
}
/* line 654, ../sass/style.scss */
#multiform a {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  color: #b54747;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 100px;
}

/* line 665, ../sass/style.scss */
.form-hidden {
  display: none !important;
}

/* line 669, ../sass/style.scss */
.actions {
  text-align: center;
}

/* MESSAGES
-------------------------------------------------------------- */
/* line 676, ../sass/style.scss */
div.messages-holder {
  border: none;
  max-width: 800px;
  margin: 0 auto 60px;
}
/* line 681, ../sass/style.scss */
div.messages-holder .messages {
  padding: 30px;
  font-family: "Raleway", sans-serif;
  border: none;
}
/* line 688, ../sass/style.scss */
div.messages-holder .error,
div.messages-holder .status {
  background-image: none;
}
/* line 692, ../sass/style.scss */
div.messages-holder .error {
  background-color: #b54747;
  color: #f1f1f1;
}

/* line 702, ../sass/style.scss */
body div.tabledrag-changed-warning {
  padding: 30px;
  max-width: 800px;
  margin: 20px auto;
  background-image: none;
  background-color: #f0da72;
  color: #888888;
  border: none;
}

/* line 714, ../sass/style.scss */
.form-item input.error, .form-item textarea.error, .form-item select.error {
  border: #b54747 solid 2px;
}

/* EXTRAS
-------------------------------------------------------------- */
/* line 722, ../sass/style.scss */
body.cke_show_borders {
  margin: 0 auto;
}

/* line 724, ../sass/style.scss */
div.krumo-root {
  text-align: left !important;
  margin-left: 20%;
}
